
#include <windows.h>
#include "resource.h"
#include "version.h"

IDI_MAIN ICON "icon.ico"

IDM_TRAY MENU
BEGIN
    POPUP "TRAY_POPUP"
    BEGIN
        MENUITEM "Always on &Top"   , IDM_ALWAYS_TOP
        MENUITEM "&Hide on Minimize", IDM_HIDE_MINIMIZE
        MENUITEM "&About..."        , IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "&Exit"            , IDM_EXIT
    END
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION    PIMON_FILE_VERSION
PRODUCTVERSION PIMON_FILE_VERSION
FILEOS         VOS_NT
FILESUBTYPE    VFT2_UNKNOWN
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "driver1998\0"
            VALUE "FileDescription", "PiMon\0"
            VALUE "FileVersion", PIMON_VERSION "\0"
            VALUE "InternalName", "PiMon\0"
            VALUE "LegalCopyright", "Copyright (c) driver1998\0"
            VALUE "OriginalFilename", "PiMon.exe\0"
            VALUE "ProductName", "PiMon\0"
            VALUE "ProductVersion", PIMON_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
